<h1><%= @user.email %></h1>

<p>Your Teams:</p>
<% for team in @teams %>	
	<% team_role = Membership.find_team_role(current_user, team)%>	
	<p><%= link_to team.name, team %> <%=h team_role.role.name %> </p>
<% end %>

